[flake8]
exclude=
    .cache,
    .git,
    dist,
    docs,
    htmlcov,
    node_modules,
    venv,
    venv*,
    .mypy_cache,
    test/assets
max-line-length=120
per-file-ignores=
    */__init__.py:F401
    example/*:F403,F405
