{% macro render_button(button, style='') %}
    <button class="ui {% if button.stateful %}loading{% elif button.color %}{{ button.color }}{% endif %} {{ style }} button"
            {% if not button.enabled %}disabled="disabled"{% endif %}
            data-widget="button" data-stateful="{{ button.stateful }}" data-on-class="{{ button.color }}"
            {% if button.confirm %}data-confirm="{{ button.confirm_csv_int }}" data-confirm-message="{{ button.confirm_message }}"{% endif %}
            data-id="{{ button|id }}">
        {{ button.label }}
    </button>
{% endmacro %}
