<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css" />
    <script src="/static/jquery-3.min.js"></script>
    <script src="/static/semantic-ui/semantic.min.js"></script>
    <script src="/static/semantic-ui/components/checkbox.min.js"></script>
    <script src="/static/semantic-ui/components/dropdown.min.js"></script>
    <script src="/static/semantic-ui/components/slider.min.js"></script>
    <script src="/static/semantic-ui/components/transition.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <div class="ui container">
        <div class="ui segment">
            <div class="ui very relaxed divided list">
                {% for item in items %}
                    <div class="item">{{ item.render()|safe }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
