name: build

on:
  push:
    branches: [ main, v*.x ]
  pull_request:
    branches: [ main, v*.x ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.9", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install APT depenencies
      run: |
        sudo apt-get update
        sudo apt-get -y install mosquitto libpulse0 pulseaudio knxd knxd-tools mariadb-server mariadb-client
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        pip install -r requirements.txt
    - name: Install and pack web ui assets
      run: |
        npm install
        npm run build
    - name: Setup MySQL test database
      run: |
        sudo mysql << "__EOF__"
          CREATE DATABASE `shc_test`;
          CREATE USER 'shc_test'@'localhost' IDENTIFIED BY 'shc_test';
          GRANT ALL PRIVILEGES ON `shc_test`.* TO  'shc_test'@'localhost';
          FLUSH PRIVILEGES;
        __EOF__
    - name: Test with coverage + unittest
      run: |
        coverage run --source=shc,example -m unittest -v
      env:
        SHC_TEST_MSQL_URL: mysql://shc_test:shc_test@localhost/shc_test
    - name: Report test coverage
      if: ${{ always() }}
      run: |
        coverage xml
        coverage report -m
    - uses: codecov/codecov-action@v2
      if: ${{ always() }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  static-analysis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 mypy
        pip install -r requirements.txt
    - name: Check typing with MyPy
      run: |
        mypy
    - name: Check code style with flake8
      run: |
        flake8

  package:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel build
    - name: Create source and wheel dist
      run: |
        python -m build
